<h1> <%= @restaurant.name %> </h1>

<p>
  Located at <%= @restaurant.address %>,
  Located at <%= @restaurant.phone_number %>,
  Located at <%= @restaurant.category %>
  rated at <%= @restaurant.rating %> stars
</p>